html,body{
  background-color: rgb(228, 208, 186);
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maincontent{
  display:flex; 
  flex-direction:row; 
  justify-content:center;
  min-height:100vh;
  padding:20px;
  text-align: start;
  align-items: center;
  color:black;
} 

.bodytext{
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.534);
  padding:20px;
  min-width: 200px;
  width: 25%;
}

.books {
  background-image: url(stack_of_books.png);
}