html{
  height: 100%;
  width: 100%;
  background-color: #F5E7E1;
  color:black;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  /* font-size: 24px;
  line-height: 30px; */
  text-align: justify;
}

body{
  background-image: url("manybooks.png");
}

.maincontent{
  display:flex; 
  flex-direction:column; 
  /* margin:200px;
  margin-top: 100px; */
  min-height:100vh;
  padding:20px;
  text-align: start;
  align-items: center;
  color:black;
} 

.bodytext{
  border-radius: 10px;
  margin-top:100px;
  padding:20px;
  width: 200px;
  background-color: #F5E7E1;
  color:#5B3847;
  border:5px solid #5B3847;
  text-align: justify;
}


.books {
  background-image: url(stack_of_books.png);
}